*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
}

header{
    z-index: 1;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 40px;
}

#logo{
    color: white;
}

.search input{
    background: none;
    outline: none;
    border-radius: 10px;
    border-color: gray;
    width: 600px;
    padding: 5px;
    color: white;
}

.search button{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.perfil{
    display: flex;
    gap: 15px;
}

.perfil a{
    color: white;
    font-size: 20px;
}

/* .navbar{
    display: flex;
    gap: 25px;
} */

.sidebar{
    height: 100%;
    padding: 40px 30px;
    margin-top: 60px;
    position: fixed;
}

.sidebar ul li{
    list-style: none;
    margin-bottom: 45px;
}

.sidebar a{
    list-style: none;
    font-size: 20px;
    color: white;
}

.sidebar ul li i{
    width: 60px;
}

.content{
    margin-left: 20%;
    padding-top: 100px;
    color: white;
}