---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import ProfileImageUpload from './resources/Profile/components/ProfileImageUpload';
import ProfileEdit from './resources/Profile/components/ProfileEdits';
import Card from './resources/Profile/components/Card/Card.astro';

const userData = {
  nombre: 'Xavier David Montaño García',
  rol: 'Estudiante',
  imagen: '',
  correo: 'xaviermg2504@gmail.com',
  fechaNacimiento: '25/12/2004',
};

import '../../layouts/styles/global.css';
---

<DashboardLayout title="Perfil">
  <div class="p-4 S:p-6 tablet:p-8">
    <div class="grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 gap-4">
      {/* Perfil Card */}
      <div
        class="bg-white border border-[#bfbfbf] rounded-xl S:rounded-2xl p-4 S:p-7 col-span-1 tablet:col-span-2 laptop:col-span-1"
      >
        <div
          class="flex flex-col items-center tablet:flex-row tablet:items-start gap-4 S:gap-6 tablet:gap-10 p-2 S:p-4"
        >
          <div class="w-full max-w-[200px] tablet:max-w-none">
            <ProfileImageUpload client:load currentImage={userData.imagen} />
          </div>
          <div class="w-full">
            <h2
              class="text-xl S:text-[22px] text-[#222] font-bold font-onest text-center tablet:text-left"
            >
              {userData.nombre}
            </h2>
            <p
              class="text-sm S:text-[16px] text-[#222] opacity-50 font-medium font-poppins text-center tablet:text-left"
            >
              {userData.rol}
            </p>
          </div>
        </div>
      </div>

      {/* Estadísticas Card */}
      <div
        class="bg-white border border-[#bfbfbf] rounded-xl S:rounded-2xl p-4 S:p-7
                  col-span-1 tablet:col-span-2 laptop:col-span-2
                  row-span-1 laptop:row-span-2"
      >
        <h2
          class="text-xl S:text-2xl text-[#222] text-center font-bold font-onest mb-4"
        >
          📈 Estadísticas
        </h2>
        <Card />
      </div>

      {/* Profile Edit Card */}
      <div
        class="bg-white border border-[#bfbfbf] rounded-xl S:rounded-2xl p-4 S:p-7
                  col-span-1 tablet:col-span-2 laptop:col-span-1"
      >
        <ProfileEdit client:load />
      </div>
    </div>
  </div>
</DashboardLayout>
