---
import "../../styles/global.css";
import { Button } from "@nextui-org/react";
import { GeistSans } from "geist/font/sans";

const features = [
  "Certificado digital",
  "Contenido profesional",
  "Eventos exclusivos organizado por GuimarBot.",
  "Accede a precios especiales en talleres y cursos especializados.",
  "Monitorea tu progreso con evaluaciones interactivas y recibe retroalimentación constante.",
  "Atención individualizada a través de foros y chat con nuestros expertos.",
  "Realiza proyectos reales para reforzar lo aprendido y construir tu portafolio profesional.",
];
---

<div class="w-full items-center flex justify-center flex-col pb-32 shadow-lg">
  <h1 class="text-[65px] text-white pt-24" style="font-family: Inter, sans-serif; font-weight: 900;">Planes</h1>
  <p class="text-[25px] text-white opacity-50 pb-16" style="font-family: Inter, sans-serif; font-weight: 400;">¡Escoge tu plan de suscripción a la medida que desees!</p>
  <div class="flex flex-row space-x-10">
    <div
      id="card1"
      class="h-[675px] w-[450px] bg-white bg-opacity-5 border-[#3f3f3f] border-[1px] backdrop-blur rounded-3xl "
    >
      <span class="text-white flex flex-col m-10">
        <h1
          class="text-[30px]"
          style="font-family: Inter, sans-serif; font-weight: 800;"
        >
          Básico
        </h1>
        <h1
        class="text-[15px] opacity-35"
        style="font-family: GeistSans, sans-serif; font-weight: 300;"
      >
        1 estudiante
      </h1>
        <div class="flex flex-row items-end">
          <h1
            class="text-[50px] pb-12 text-[#fad033] text-left"
            style="font-family: Inter, sans-serif; font-weight: 900;"
          >
            S/ 200
          </h1>
          <p class="text-[30px] pb-12 text-[#fff] opacity-35 mb-2 ml-2" style="font-family: Inter, sans-serif; font-weight: 600;">/Anual</p>
        </div>
        <p>
          <ul class="space-y-4 flex flex-col">
            {
              features.map((feature) => (
                <li class="flex items-start">
                  <svg
                    class="mr-2 flex-shrink-0"
                    width="24"
                    height="24"
                    viewBox="0 0 100 100"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m39.2 50 7.2 7.2 14.4-14.4M35 23.7a12.1 12.1 0 0 0 7-2.9 12.4 12.4 0 0 1 16 0 12.1 12.1 0 0 0 7 2.9A12.4 12.4 0 0 1 76.3 35a12.1 12.1 0 0 0 2.9 7 12.4 12.4 0 0 1 0 16 12.1 12.1 0 0 0-2.9 7A12.4 12.4 0 0 1 65 76.3a12.1 12.1 0 0 0-7 2.9 12.4 12.4 0 0 1-16 0 12.1 12.1 0 0 0-7-2.9A12.4 12.4 0 0 1 23.7 65a12.1 12.1 0 0 0-2.9-7 12.4 12.4 0 0 1 0-16 12.1 12.1 0 0 0 2.9-7A12.4 12.4 0 0 1 35 23.7"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="8"
                      stroke="#fff"
                    />
                  </svg>
                  <span
                    class="opacity-50 text-[12px]"
                    style="font-family: Poppins, sans-serif; font-weight: 300;"
                  >
                    {feature}
                  </span>
                </li>
              ))
            }
          </ul>
        </p>
      </span>
      <div class="m-10">
        <button class=" bg-white bg-opacity-0 flex flex-row w-full h-12 items-center border-[#3f3f3f] border-[1px] text-white justify-center text-opacity-50 rounded-lg hover:bg-opacity-20 hover:text-opacity-85 transition-colors duration-400" style="font-family: Inter, sans-serif; font-weight: 600;">
          Adquirir
          <svg class="ml-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 2.21968L9 1.68935L7.93934 2.75001L8.46967 3.28034L12.4393 7.25001H1.75H1V8.75001H1.75H12.4393L8.46967 12.7197L7.93934 13.25L9 14.3107L9.53033 13.7803L14.6036 8.70711C14.9941 8.31659 14.9941 7.68342 14.6036 7.2929L9.53033 2.21968Z" fill="currentColor"></path></svg>
        <button />
      </div>
    </div>
    <div
      id="card2"
      class="h-[675px] w-[450px] bg-white bg-opacity-5 border-[#3f3f3f] border-[1px] backdrop-blur rounded-3xl"
    >
      <span class="text-white flex flex-col m-10">
        <h1
          class="text-[30px]"
          style="font-family: Inter, sans-serif; font-weight: 800;"
        >
          Experto
        </h1>
        <h1
        class="text-[15px] opacity-35"
        style="font-family: GeistSans, sans-serif; font-weight: 300;"
      >
        2 estudiantes
      </h1>
        <div class="flex flex-row items-end">
          <h1
            class="text-[50px] pb-12 text-[#fa33b5] text-left"
            style="font-family: Inter, sans-serif; font-weight: 900;"
          >
            S/ 350
          </h1>
          <p class="text-[30px] pb-12 text-[#fff] opacity-35 mb-2 ml-2" style="font-family: Inter, sans-serif; font-weight: 600;">/Anual</p>
        </div>
        <p>
          <ul class="space-y-4 flex flex-col">
            {
              features.map((feature) => (
                <li class="flex items-start">
                  <svg
                    class="mr-2 flex-shrink-0"
                    width="24"
                    height="24"
                    viewBox="0 0 100 100"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m39.2 50 7.2 7.2 14.4-14.4M35 23.7a12.1 12.1 0 0 0 7-2.9 12.4 12.4 0 0 1 16 0 12.1 12.1 0 0 0 7 2.9A12.4 12.4 0 0 1 76.3 35a12.1 12.1 0 0 0 2.9 7 12.4 12.4 0 0 1 0 16 12.1 12.1 0 0 0-2.9 7A12.4 12.4 0 0 1 65 76.3a12.1 12.1 0 0 0-7 2.9 12.4 12.4 0 0 1-16 0 12.1 12.1 0 0 0-7-2.9A12.4 12.4 0 0 1 23.7 65a12.1 12.1 0 0 0-2.9-7 12.4 12.4 0 0 1 0-16 12.1 12.1 0 0 0 2.9-7A12.4 12.4 0 0 1 35 23.7"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="8"
                      stroke="#fff"
                    />
                  </svg>
                  <span
                    class="opacity-50 text-[12px]"
                    style="font-family: Poppins, sans-serif; font-weight: 300;"
                  >
                    {feature}
                  </span>
                </li>
              ))
            }
          </ul>
        </p>
      </span>
      <div class="m-10">
        <button class="flex flex-row w-full h-12 items-center border-[#3f3f3f] border-[1px] text-white justify-center text-opacity-50 rounded-lg bg-white bg-opacity-0 hover:bg-opacity-20 hover:text-opacity-85 transition-colors duration-400" style="font-family: Inter, sans-serif; font-weight: 600;">
          Adquirir
          <svg class="ml-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 2.21968L9 1.68935L7.93934 2.75001L8.46967 3.28034L12.4393 7.25001H1.75H1V8.75001H1.75H12.4393L8.46967 12.7197L7.93934 13.25L9 14.3107L9.53033 13.7803L14.6036 8.70711C14.9941 8.31659 14.9941 7.68342 14.6036 7.2929L9.53033 2.21968Z" fill="currentColor"></path></svg>
        <button />
      </div>
    </div>
    <div
      id="card3"
      class="h-[675px] w-[450px] bg-white bg-opacity-5 border-[#3f3f3f] border-[1px] backdrop-blur rounded-3xl"
    >
      <span class="text-white flex flex-col m-10">
        <h1
          class="text-[30px]"
          style="font-family: Inter, sans-serif; font-weight: 800;"
        >
          Experto
        </h1>
        <h1
          class="text-[15px] opacity-35"
          style="font-family: GeistSans, sans-serif; font-weight: 300;"
        >
          4 estudiantes
        </h1>
        <div class="flex flex-row items-end">
          <h1
            class="text-[50px] pb-12 text-[#fa3333] text-left"
            style="font-family: Inter, sans-serif; font-weight: 900;"
          >
            S/ 500
          </h1>
          <p class="text-[30px] pb-12 text-[#fff] opacity-35 mb-2 ml-2" style="font-family: Inter, sans-serif; font-weight: 600;">/Anual</p>
        </div>
        <p>
          <ul class="space-y-4 flex flex-col">
            {
              features.map((feature) => (
                <li class="flex items-start">
                  <svg
                    class="mr-2 flex-shrink-0"
                    width="24"
                    height="24"
                    viewBox="0 0 100 100"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m39.2 50 7.2 7.2 14.4-14.4M35 23.7a12.1 12.1 0 0 0 7-2.9 12.4 12.4 0 0 1 16 0 12.1 12.1 0 0 0 7 2.9A12.4 12.4 0 0 1 76.3 35a12.1 12.1 0 0 0 2.9 7 12.4 12.4 0 0 1 0 16 12.1 12.1 0 0 0-2.9 7A12.4 12.4 0 0 1 65 76.3a12.1 12.1 0 0 0-7 2.9 12.4 12.4 0 0 1-16 0 12.1 12.1 0 0 0-7-2.9A12.4 12.4 0 0 1 23.7 65a12.1 12.1 0 0 0-2.9-7 12.4 12.4 0 0 1 0-16 12.1 12.1 0 0 0 2.9-7A12.4 12.4 0 0 1 35 23.7"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="8"
                      stroke="#fff"
                    />
                  </svg>
                  <span
                    class="opacity-50 text-[12px]"
                    style="font-family: Poppins, sans-serif; font-weight: 300;"
                  >
                    {feature}
                  </span>
                </li>
              ))
            }
          </ul>
        </p>
      </span>
      <div class="m-10">
        <button class="flex flex-row w-full h-12 items-center border-[#3f3f3f] border-[1px] text-white justify-center text-opacity-50 rounded-lg bg-white bg-opacity-0 hover:bg-opacity-20 hover:text-opacity-85 transition-colors duration-400" style="font-family: Inter, sans-serif; font-weight: 600;">
          Adquirir
          <svg class="ml-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 2.21968L9 1.68935L7.93934 2.75001L8.46967 3.28034L12.4393 7.25001H1.75H1V8.75001H1.75H12.4393L8.46967 12.7197L7.93934 13.25L9 14.3107L9.53033 13.7803L14.6036 8.70711C14.9941 8.31659 14.9941 7.68342 14.6036 7.2929L9.53033 2.21968Z" fill="currentColor"></path></svg>
        <button />
      </div>
    </div>
  </div>
</div>
