---
import Login from '../components/Auth/auth-components/login.astro';
import Register from '../components/Auth/auth-components/register.astro';
import BackButton from '../components/Auth/BackButton';
import AuthLayout from '../layouts/AuthLayout.astro';
---

<AuthLayout title="Guimarbot: Autenticación">
  <BackButton client:load />
  <main class="mx-auto w-1/4 h-full animate-fade-in-dow">
    <div id="loginContainer" class="w-full">
      <Login />
    </div>
    <div id="registerContainer" class="hidden w-full">
      <Register />
    </div>
  </main>
</AuthLayout>

<script>
  const loginContainer = document.getElementById('loginContainer');
  const registerContainer = document.getElementById('registerContainer');

  const btnLogin = document.getElementById('btnLogin');
  const btnRegister = document.getElementById('btnRegister');

  btnLogin?.addEventListener('click', (e) => {
    e.preventDefault();
    loginContainer?.classList.remove('hidden');
    registerContainer?.classList.add('hidden');
  });

  btnRegister?.addEventListener('click', (e) => {
    e.preventDefault();
    registerContainer?.classList.remove('hidden');
    loginContainer?.classList.add('hidden');
  });
</script>
