---
import Login from '../components/Auth/login.astro';
import Register from '../components/Auth/register.astro';
import BackButton from '../components/Auth/auth-components/BackButton';
import AuthLayout from '../layouts/AuthLayout.astro';
---

<AuthLayout title="Guimarbot: Autenticación">
  <div class="absolute top-0 left-6 L:left:1/8 L:-top-3 laptop:left-[20%]">
    <BackButton client:load />
  </div>
  <main class="mx-auto w-full h-full animate-fade-in-dow">
    <div id="loginContainer" class="w-full h-full">
      <Login />
    </div>
    <div id="registerContainer" class="hidden w-full h-full">
      <Register />
    </div>
  </main>
</AuthLayout>
<script>
  function showRegister() {
    document.getElementById('loginContainer')!.classList.add('hidden');
    document.getElementById('registerContainer')!.classList.remove('hidden');
  }

  function showLogin() {
    document.getElementById('registerContainer')!.classList.add('hidden');
    document.getElementById('loginContainer')!.classList.remove('hidden');
  }

  declare global {
    interface Window {
      showRegister: () => void;
      showLogin: () => void;
    }
  }

  window.showRegister = showRegister;
  window.showLogin = showLogin;
</script>
