---
import Layout from '../layouts/Layout.astro';
import Hero from '../layouts/Home_Section/Hero/page.astro';
import Header from '../layouts/Header/header.astro';
import Planes from '../layouts/Home_Section/Planes/page.astro';
import Carrousel from '../layouts/Home_Section/Carrousel/page.tsx';
import Choose from '../layouts/Home_Section/Choose/page.astro';
import FAQ from '../layouts/Home_Section/FAQ/page.astro'
import Footer from '../layouts/Footer/footer';
---

<Layout title="GuimarBot - Educando y aprendiendo">
  <main>
    <div
      class="bg-custom-gradient from-[#ef98f8] via-[#f8d3fc] to-white flex flex-col space-y-5"
    >
      <Header />
      <div id="inicio" class="w-full items-center justify-center">
        <div class="relative h-[485px] animate-fadeInBlurHorizontal">
          <div class="absolute inset-0 bg-center opacity-25 blur-[10px] " style="background-image: url('/src/components/apps.png'); background-size: contain; background-repeat: no-repeat;"></div>
          <div class="relative">
            <Hero />
          </div>
        </div>
      </div>
      <Choose />
      <div id="FAQ" class="w-full items-center justify-center">
        <FAQ />
      </div>
      <div class="pb-20">
        <Carrousel />
      </div>
      <div id="planes" class="w-full items-center justify-center">
        <Planes />
      </div>
      <Footer client:load/>
    </div>
  </main>
</Layout>
