---
import Layout from '../layouts/Layout.astro';
import Hero from '../layouts/Home_Section/Hero/page.astro';
import Header from '../layouts/Header/header.astro';
import Planes from '../layouts/Home_Section/Planes/page.astro';
import Carrousel from '../layouts/Home_Section/Carrousel/page.tsx';
import Choose from '../layouts/Home_Section/Choose/page.astro';
import Courses from '../layouts/Dashboard/Courses/page.astro';
---

<Layout title="GuimarBot - Educando y aprendiendo">
  <main class="w-full bg-[black]">
    <div
      class="bg-custom-gradient from-[#36023b] via-[#18041a] to-black flex flex-col space-y-7"
    >
      <Header />
      <Hero />
      <Choose />
      <Carrousel />
      <Planes />
    </div>
  </main>
</Layout>

