---
import ImageSlider from "./components/ImageSlider.astro";

const images = [
  { src: 'https://picsum.photos/600/400?random=1', alt: 'Random image 1' },
  { src: 'https://picsum.photos/600/400?random=2', alt: 'Random image 2' },
  { src: 'https://picsum.photos/600/400?random=3', alt: 'Random image 3' },
];
---
<div class="flex flex-col items-center justify-center space-y-8">
  <h1 class="text-4xl font-bold text-white">Cursos</h1>
  <ImageSlider images={images} />
</div>