---
import Accordion from "../FAQ/components/Accordion.tsx"
---

<article id="FAQ" class="w-full items-center flex justify-center flex-col pb-32 animate-fadeInBlurHorizontal">
    <h1 class="text-[65px] text-[#222] pt-24" style="font-family: Inter, sans-serif; font-weight: 900;">Preguntas Frecuentes (FAQ)</h1>
  <p class="text-[25px] text-[#222] opacity-50 pb-16" style="font-family: Inter, sans-serif; font-weight: 400;">¡Si tienes alguna duda personalizada no dudes en consultarlo mediante nuestras redes!</p>
  
    <Accordion client:load/>
</article>

<style>
  #FAQ {
    filter: drop-shadow(
      0 0 15px rgba(0, 0, 0, .2 )
    )
  }
</style>