---
import Layout from '../../../layouts/Layout.astro';
import RegisterHeader from '../../RegisterHeader.astro';
import RegisterForm from '../../RegisterForm.astro';
import RegisterSocial from '../../RegisterSocial.astro';
import '../../../layouts/styles/global.css';
---

<Layout title="Create Account">
  <main class="min-h-screen bg-white p-2">
    <div class="max-w-md w-full bg-white rounded-2xl p-8 space-y-6">
      <div class="">
        <RegisterHeader />
      </div>
      <RegisterSocial />
      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-200"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="px-2 bg-white text-gray-500">O</span>
        </div>
      </div>
      <RegisterForm />
    </div>
  </main>
</Layout>
