---
import "../../styles/global.css";
import { Button } from "@nextui-org/react";
---

<div id="Hero" class="w-full items-center flex justify-center pt-28">
    <div
      class="text-white text-center h-[500px] w-[1200px] animate-fadeInBlurHorizontal"
      style="font-family: Inter, sans-serif; font-weight: 800;"
    >
      <h1 class="text-[64px]">Si lo puedes imaginar,</h1>
      <h2 class="text-[64px] -mt-6">lo puedes programar.</h2>
      <div class="flex flex-row justify-center pt-4">
        <p class="max-w-2xl opacity-75 text-[18px]" style="font-weight: 300;">
          Transforma tus ideas en realidad. Aprende a crear soluciones digitales
          desde cero y domina las habilidades que te abrirán puertas en el mundo
          de la tecnología.
        </p>
      </div>
      <div class="pt-8">
        <Button color="secondary" variant="bordered" size="lg" client:load>
          Ver más
          <svg
            data-testid="geist-icon"
            height="16"
            stroke-linejoin="round"
            viewBox="0 0 16 16"
            width="16"
            style="color: currentcolor;"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.50001 1.93933L6.03034 2.46966L10.8536 7.29288C11.2441 7.68341 11.2441 8.31657 10.8536 8.7071L6.03034 13.5303L5.50001 14.0607L4.43935 13L4.96968 12.4697L9.43935 7.99999L4.96968 3.53032L4.43935 2.99999L5.50001 1.93933Z"
              fill="currentColor"></path></svg
          >
        </Button>
      </div>
    </div>
</div>

<style>
  #Hero {
    filter: drop-shadow(
      0 0 10px rgba(0, 0, 0, .9)
    )
  }
</style>