---
import "../../styles/global.css";
import { Button } from "@nextui-org/react";
---

<div id="Hero" class="w-full items-center flex justify-center pt-4">
    <div
      class="text-[#222222] text-center h-[500px] w-[1200px] flex flex-col  justify-center animate-fadeInBlurHorizontal"
      style="font-family: Onest, sans-serif; font-weight: 800;"
    >
      <div class=" ">
      <h1 class="text-[60px]">Si lo puedes imaginar,</h1>
      <h2 class="text-[60px] -mt-6">lo puedes programar.</h2>
      <div class="flex flex-row justify-center pt-5">
        <p class="max-w-[700px] opacity-50 text-[17px]" style="font-weight: 400;">
        Transforma tus ideas en realidad. Aprende a crear soluciones digitales
        desde cero y domina las habilidades que te abrirán puertas en el mundo
        de la tecnología.
        </p>
      </div>
      </div>
     
    </div>
</div>


<style>
  #Hero {
    filter: drop-shadow(
      0 0 15px rgba(0, 0, 0, .2 )
    )
  }
</style>