---
import "../../styles/global.css";
---
  <div class="w-full items-center bg-[#000] flex justify-center pt-32">
      <div
        class="text-white text-left h-[500px] w-[1024px]"
        style="font-family: Inter, sans-serif; font-weight: 800;"
      >
        <h1 class="text-[64px]">
          Si lo puedes imaginar,
        </h1>
        <h2 class="text-[64px] -mt-6">lo puedes programar.</h2>
        <div class="flex flex-row justify-center pt-10">
          <p class="max-w-2xl opacity-50" style="font-weight: 400;">
            Transforma tus ideas en realidad. Aprende a crear soluciones digitales
            desde cero y domina las habilidades que te abrirán puertas en el mundo
            de la tecnología.
          </p>
        </div>
      </div>
  </div>