---
import Layout from './Layout.astro';
import Sidebar from '../components/SideBar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex min-h-screen bg-[#fefefe]">
    <Sidebar />
    <main class="flex-1">
      <div class="w-full h-full flex justify-center">
        <div class="max-w-full w-full">
          <slot />
        </div>
      </div>
    </main>
  </div>
</Layout>
