---
import '../../layouts/styles/global.css';
---

<div class="space-y-3">
  <button
    type="button"
    class="font-poppins w-full flex items-center justify-center px-4 py-3 border border-gray-300 rounded-lg shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition"
  >
    <img
      src="https://www.google.com/favicon.ico"
      alt="Google"
      class="h-5 w-5 mr-2"
    />
    Continuar con Google
  </button>

  <button
    type="button"
    class="font-poppins w-full flex items-center justify-center px-4 py-3 border border-gray-300 rounded-lg shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition"
  >
    <img
      src="https://github.com/favicon.ico"
      alt="GitHub"
      class="h-5 w-5 mr-2"
    />
    Continuar con GitHub
  </button>
</div>
