---
import Layout from '../../layouts/Layout.astro';
import LoginHeader from './LoginHeader.astro';
import LoginForm from './LoginForm.astro';
import LoginSocial from './LoginSocial.astro';
import OTPVerification from './OTPVerification.astro';
import '../../layouts/styles/global.css';
---

<Layout title="Login - Welcome Back">
  <main class="flex justify-center min-h-screen bg-white">
    <div
      class="max-w-lg tablet:max-w-2xl w-full bg-white rounded-2xl p-8 space-y-6"
    >
      <div class="mt-2">
        <LoginHeader />
      </div>
      <LoginForm />

      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-200"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="px-2 bg-white text-gray-500">O</span>
        </div>
      </div>

      <LoginSocial />

      <p class="font-inter text-center text-sm text-gray-500">
        ¿No tienes una cuenta?
        <a
          href="#"
          id="btnRegister"
          class="font-inter font-medium text-blue-600 hover:text-blue-400 transition"
          onclick="window.showRegister(); return false;"
        >
          ¡Registrate!
        </a>
      </p>
    </div>
    <OTPVerification />
  </main>
</Layout>
