---
import '../../layouts/styles/global.css';
---

<div class="text-center space-y-2 mb-8">
  <h1 class="font-poppins text-2xl font-bold text-gray-900">
    ¡Registra tu cuenta!
  </h1>
  <p class="font-poppins text-sm text-gray-500">
    Rellena los siguientes datos para crear tu cuenta.
  </p>
</div>
